@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CascadiaCode';
  src: url(/assets/fonts/CascadiaCode.ttf);
  display: swap;
}

* {
  font-family: 'CascadiaCode', monospace;
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

::-webkit-scrollbar-track {
  background: #262626;
}

::-webkit-scrollbar-thumb {
  background: #ebdbb2;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #d79921;
}
