@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'CascadiaCode';
  src: url(/assets/fonts/CascadiaCode.ttf);
}

* {
  font-family: 'CascadiaCode';
}

html,
body,
body > div:first-child,
div#__next,
div#__next > div {
  height: 100%;
}
