@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Cascadia Code';
  src: url('/fonts/CascadiaCode.ttf')
}

* {
  font-family: 'Cascadia Code', monospace;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}